<mat-progress-bar mode="indeterminate" *ngIf="showProgressBar"></mat-progress-bar>

<section class="content" style="margin-top: 1%">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">

        <mat-card>
          <mat-card-header>
            <mat-card-title>

            </mat-card-title>
          </mat-card-header>
          <mat-card-content>


          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-8">
        <mat-card>

          <mat-card-header style="width: 100%">

            <div class="row">
              <div class="col-md-12">
                <b>Tháng 11 - Năm 2019</b>
              </div>
            </div>

          </mat-card-header>

          <hr>
          <mat-card-content>
            <div class="row">
              <div class="col-md-3">
                <button mat-icon-button>
                  <mat-icon>arrow_back_ios</mat-icon>
                </button>
                <button mat-icon-button>
                  <mat-icon>arrow_forward_ios</mat-icon>
                </button>

              </div>
              <div class="col-md-5">
              </div>
              <div class="col-md-4">
                <mat-button-toggle-group style="float: right;">
                  <mat-button-toggle value="bold">Tháng</mat-button-toggle>
                  <mat-button-toggle value="italic">Tuần</mat-button-toggle>
                  <mat-button-toggle value="underline">Ngày</mat-button-toggle>
                </mat-button-toggle-group>
              </div>

            </div>
            <div cdkDropListGroup>
              <table mat-table [dataSource]="scheduledSource">
                <!-- Position Column -->
                <ng-container matColumnDef="Sunday">
                  <th mat-header-cell *matHeaderCellDef> Chủ nhật </th>
                  <td mat-cell *matCellDef="let element">


                    <div class="example-container">
                      <div cdkDropList [cdkDropListData]="element.Sunday" class="example-list"
                        (cdkDropListDropped)="drop($event)">
                        <div class="example-box" *ngFor="let item of element.Sunday" cdkDrag>
                          {{ item }}
                        </div>
                      </div>
                    </div>


                  </td>
                </ng-container>

                <ng-container matColumnDef="Monday">
                  <th mat-header-cell *matHeaderCellDef> Thứ 2 </th>
                  <td mat-cell *matCellDef="let element">
                    <div class="example-container">
                      <div cdkDropList [cdkDropListData]="done" class="example-list"
                        (cdkDropListDropped)="drop($event)">
                        <div class="example-box" *ngFor="let item of done" cdkDrag>
                          {{ item }}
                        </div>
                      </div>
                    </div>

                  </td>
                </ng-container>

                <ng-container matColumnDef="Tuesday">
                  <th mat-header-cell *matHeaderCellDef> Thứ 3 </th>
                  <td mat-cell *matCellDef="let element">

                  </td>
                </ng-container>

                <ng-container matColumnDef="Wednesday">
                  <th mat-header-cell *matHeaderCellDef> Thứ 4 </th>
                  <td mat-cell *matCellDef="let element">

                  </td>
                </ng-container>

                <ng-container matColumnDef="Thursday">
                  <th mat-header-cell *matHeaderCellDef> Thứ 5 </th>
                  <td mat-cell *matCellDef="let element">
                  </td>
                </ng-container>

                <ng-container matColumnDef="Friday">
                  <th mat-header-cell *matHeaderCellDef> Thứ 6 </th>
                  <td mat-cell *matCellDef="let element">

                  </td>
                </ng-container>

                <ng-container matColumnDef="Saturday">
                  <th mat-header-cell *matHeaderCellDef> Thứ 7 </th>
                  <td mat-cell *matCellDef="let element">
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="scheduledColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: scheduledColumns;"></tr>
              </table>
            </div>

          </mat-card-content>

        </mat-card>
      </div>
    </div>

  </div>
</section>
