<mat-progress-bar mode="indeterminate" *ngIf="showProgressBar"></mat-progress-bar>

<section class="content" style="margin-top: 1%">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">

        <mat-card>
          <mat-card-header>
            <mat-card-title>

            </mat-card-title>
          </mat-card-header>
          <mat-card-content>


          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-8">
        <mat-card>

          <mat-card-header style="width: 100%">
            <div class="row">
              <div class="col-md-12">
                <b>Tháng {{ monthSelected +1 }} - Năm {{ yearSelected }}</b>
              </div>
            </div>

          </mat-card-header>

          <hr>
          <mat-card-content>
            <div class="row">
              <div class="col-md-3">
                <button mat-icon-button (click)="forwardMonth()">
                  <mat-icon>arrow_back_ios</mat-icon>
                </button>
                <button mat-icon-button (click)="nextMonth()">
                  <mat-icon>arrow_forward_ios</mat-icon>
                </button>

              </div>
              <div class="col-md-5">
              </div>
              <div class="col-md-4">
                <mat-button-toggle-group style="float: right;">
                  <mat-button-toggle value="bold">Tháng</mat-button-toggle>
                  <mat-button-toggle value="italic">Tuần</mat-button-toggle>
                  <mat-button-toggle value="underline">Ngày</mat-button-toggle>
                </mat-button-toggle-group>
              </div>

            </div>

            <hr>
            <mat-grid-list cols="7" rowHeight="4:1">
              <mat-grid-tile *ngFor="let item of daysOfWeek"><b>{{item}}</b></mat-grid-tile>
            </mat-grid-list>
            <hr>
            <mat-grid-list cols="7" rowHeight="1:1">
              <mat-grid-tile *ngFor="let item of dateOfweek">{{item}}</mat-grid-tile>
              <!-- <div class="drag-container">

                <div cdkDropList id="{{week.id}}" [cdkDropListData]="week.weeklist"
                  [cdkDropListConnectedTo]="connectedTo" class="item-list" (cdkDropListDropped)="drop($event)">
                  <div class="item-box" *ngFor="let weekItem of week.weeklist" cdkDrag>Week {{week.id}} {{weekItem}}
                  </div>
                </div>
              </div> -->
            </mat-grid-list>

          </mat-card-content>

        </mat-card>
      </div>
    </div>

  </div>
</section>
