<mat-progress-bar mode="indeterminate" *ngIf="showProgressBar"></mat-progress-bar>

<section class="content" style="margin-top: 1%">
    <div class="container-fluid">
        <mat-card>
            <mat-card-header class="card-container">
                <mat-card-title>Danh sách lớp</mat-card-title>

            </mat-card-header>
            <div class="row">
                <div class="col-md-2">
                    <mat-form-field>
                        <mat-label>Chọn lớp</mat-label>
                        <mat-select [(ngModel)]="languageClassId">
                            <mat-option *ngFor="let item of languageClass" [value]="item.id">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-md-2">
                    <mat-form-field>
                        <mat-label>Mã học viên</mat-label>
                        <input matInput placeholder="Nhập mã học viên" [(ngModel)]="keyWord">
                    </mat-form-field>
                </div>

                <div class="col-md-2">
                    <mat-form-field>
                        <mat-label>Chọn trạng thái</mat-label>
                        <mat-select [(ngModel)]="statusSelected">
                            <mat-option *ngFor="let s of status" value="{{s.code}}">
                                {{s.Name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-5">
                </div>
            </div>
        </mat-card>

        <mat-card>
            <div class="row">
                <div class="col-md-4">
                    <div class="col-md-6">
                        <mat-form-field>
                            <mat-label>Mã học viên</mat-label>
                            <input [(ngModel)]="learnerId" matInput placeholder="Nhập mã học viên"
                                (keyup)="setLearner($event.target.value)">
                        </mat-form-field>
                    </div>
                    <div class="col-md-10">
                        <div>
                            <mat-label><b>Thông tin học viên</b></mat-label>
                        </div>

                        <mat-form-field>
                            <mat-label>Tên học viên : {{ learner.lastName }} </mat-label>
                            <input matInput disabled>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Giới tính : </mat-label>
                            <input matInput disabled>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Ngày sinh : </mat-label>
                            <input matInput disabled>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Số điện thoại : </mat-label>
                            <input matInput disabled>
                        </mat-form-field>
                    </div>
                </div>




                <div class="col-md-4">
                    <div class="col-md-6">
                        <mat-form-field>
                            <mat-label>Chọn lớp</mat-label>
                            <mat-select [(ngModel)]="languageClassId"
                                (change)="load_infor_languageClasses($event.target.value)">
                                <mat-option *ngFor="let item of languageClass" [value]="item.id">
                                    {{item.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-10">
                        <div>
                            <mat-label><b>Thông tin lớp học</b></mat-label>
                        </div>
                        <mat-form-field>
                            <mat-label>Khóa học</mat-label>
                            <input matInput disabled>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Sĩ số lớp : {{  languageClassSiSo}}</mat-label>
                            <input matInput disabled>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Ngày bắt đầu : {{  languageClassStartDay}}</mat-label>
                            <input matInput disabled>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Ngày kết thúc : {{  languageClassEnDay}}</mat-label>
                            <input matInput disabled>
                        </mat-form-field>
                    </div>
                </div>

                <div class="col-md-2">
                    <mat-form-field>
                        <mat-label>Chọn trạng thái</mat-label>
                        <mat-select [(ngModel)]="statusSelected">
                            <mat-option *ngFor="let s of status" value="{{s.code}}">
                                {{s.Name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-1">
                    <button mat-raised-button color="primary" tabindex="-1" style="float: right; margin-right: 20px"
                        (click)="load_infor_languageClasses()">
                        <mat-icon>search</mat-icon>
                        Tìm kiếm
                    </button>
                </div>

            </div>
        </mat-card>
    </div>
</section>