
    <section class="content">
        <div class="container-fluid">
        <mat-card>
            <mat-card-header class="card-container">
                <mat-card-title>Giáo Viên</mat-card-title>
                <mat-card-subtitle>Danh sách giáo viên</mat-card-subtitle>                               
            </mat-card-header>
            <div class="row">
                <div class="col-md-12">
                    <button class="addAndSearch" mat-raised-button color="primary" tabindex="-1" style="float: right; margin-right: 20px"
                    (click)="creatLecture()">
                    <mat-icon>add</mat-icon>
                      Tạo hồ sơ
                    </button>
                </div>
            </div>            
            <div class="row">
                <div class="col-md-2">
                    <mat-form-field>
                        <mat-label>Card ID</mat-label>
                        <input matInput placeholder="Tên Khóa học" [(ngModel)]="cardId">  
                        <mat-hint>Nhập Card ID</mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <mat-form-field>
                        <mat-label>Tên giáo viên</mat-label>
                        <input matInput placeholder="Tên Khóa học" [(ngModel)]="keyWord">  
                        <mat-hint>Tên giáo viên muốn tìm kiếm</mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <mat-form-field>
                        <mat-label>Số điện thoại</mat-label>
                        <input matInput placeholder="Tên Khóa học" [(ngModel)]="phoneSelected">  
                        <mat-hint>Số điện thoại muốn tìm kiếm</mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <mat-form-field>
                        <mat-label>Giới tính</mat-label>
                        <mat-select [(ngModel)]="statusGenderes">
                            <mat-option *ngFor="let s of genderes" value="{{s.value}}">
                                {{s.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <mat-form-field>
                        <mat-label>Chọn trạng thái</mat-label>
                        <mat-select [(ngModel)]="statusSelected">
                            <mat-option *ngFor="let s of status" value="{{s.code}}">
                                {{s.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-1">                   
                </div>
                <div class="col-md-1">
                    <button class="addAndSearch" mat-raised-button color="primary" tabindex="-1" style="float: right; margin-right: 20px"
                        (click)="searchLecture()">
                        <mat-icon>search</mat-icon>
                        Tìm kiếm
                    </button>
                </div>
            </div>
        </mat-card>
        </div>
      <!-- Default box -->
      <div class="card card-solid">     
        <div class="card-body pb-0">            
          <div class="row d-flex align-items-stretch">


            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch" *ngFor="let item of lecture">
              <div class="card bg-light">
                <div class="card-header text-muted border-bottom-0">
                 Giáo viên
                </div>
                <div class="card-body pt-0">
                  <div class="row">
                    <div class="col-7">
                      <h2 class="lead"><b>{{item.firstName + " " + item.lastName}}</b></h2>
                      <p class="text-muted text-sm"><b>CardID: </b> {{item.cardId}} </p>
                      <p class="text-muted text-sm"><b>About: </b> {{item.position}} </p>
                      <p class="text-muted text-sm"><b>Sex: </b> {{(item.sex)==true?"Nam":"Nữ"}} </p>
                      <p class="text-muted text-sm"><b>Satus: </b><span [class]="(item.status == 1?'badge badge-success':'badge badge-danger')">
                          {{(item.status)==1?"Hoạt động":"Khóa"}}
                      </span></p>
                      <ul class="ml-4 mb-0 fa-ul text-muted">
                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Address: {{item.address}}</li>
                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone #: {{item.phone}}</li>
                      </ul>
                    </div>
                    <div class="col-5 text-center">
                      <img src="{{item.image}}" alt="" class="img-circle img-fluid">
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="text-right">
                    <a (click)="updateLecture(item.id)" class="btn btn-sm bg-teal">
                      <i class="fas fa-edit"></i> Sửa
                    </a>
                    <a (click)="deleteLecture(item.id)" class="btn btn-sm bg-danger">
                        <i class="fas fa-trash-alt"></i> Xóa
                      </a>
                    <a href="#" class="btn btn-sm btn-primary">
                      <i class="fas fa-user"></i> Xem chi tiết
                    </a>
                  </div>
                </div>
              </div>
            </div>   
            
            
          </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer"> 
            <nav aria-label="Contacts Page Navigation">
               
            </nav>          
                
        </div>
        <!-- /.card-footer -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->