<h1 mat-dialog-title>Cập nhập loại chi</h1>

<div mat-dialog-content>
    <div class="row">
        <div class="col-md-6">
            <mat-form-field>
                <input [(ngModel)]="paysliptype.name" name="name" matInput placeholder="Tên loại chi">
            </mat-form-field>      
        </div>

        <div class="col-md-6">
            <mat-form-field>
                <mat-label>Chọn trạng thái</mat-label>
                <mat-select [(ngModel)]="statusSelected">
                    <mat-option *ngFor="let item of status" [value]="item.value">
                        {{item.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <textarea [(ngModel)]="paysliptype.note" matInput placeholder="Ghi chú" name="note"></textarea>
            </mat-form-field>
        </div>
    </div>
</div>

<mat-dialog-actions align="end">
    <button type="button" mat-raised-button color="primary" tabindex="-1" (click)="update_Paysliptype()">
        Cập nhật
    </button>
    <button mat-raised-button color="warn" mat-dialog-close tabindex="-1">Hủy</button>
</mat-dialog-actions>