
<!-- Main content -->
<section class="content" style="margin-top: 1%">
  <div class="container-fluid">
      <mat-card>
          <div class="row">
              <div class="col-md-8">
                  <mat-form-field>
                      <input matInput placeholder="Tên phòng học" [(ngModel)]="keyWord">                        
                  </mat-form-field>
              </div>
              <div class="col-md-4">
                  <button mat-raised-button color="primary" tabindex="-1" style="float: right; margin-right: 20px"
                      (click)="findReceiptType()">Tìm kiếm</button>
              </div>
          </div>
      </mat-card>
  </div>
  <div class="container-fluid">
      <mat-card style="margin-top: 1%">
          <mat-card-header style="float: right;">
              <mat-card-title>
                  <button mat-raised-button color="primary" tabindex="-1" (click)="openCreateDialog()">Thêm phòng học</button>
              </mat-card-title>
          </mat-card-header>
          <mat-card-content>
              <table mat-table [dataSource]="dataSource">

                  <ng-container matColumnDef="index">
                      <th mat-header-cell *matHeaderCellDef><b>STT</b></th>
                      <td mat-cell *matCellDef="let element; let i=index"> {{i+1}} </td>
                  </ng-container>

                  <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef><b>Tên phòng học</b></th>
                      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                  </ng-container>

                  <ng-container matColumnDef="status">
                      <th mat-header-cell *matHeaderCellDef><b>Trạng thái</b></th>
                      <td mat-cell *matCellDef="let element">
                              <span [class]="(element.status == 0?'badge badge-danger':'badge badge-success')"
                              style="width: 40%"> {{(element.status == 1)?"Hoạt động":"Khóa"}}
                              </span>
                      </td>
                  </ng-container>

                  <ng-container matColumnDef="note">
                      <th mat-header-cell *matHeaderCellDef> <b>Ghi chú</b></th>
                      <td mat-cell *matCellDef="let element"> {{element.note}}</td>
                  </ng-container>

                  <ng-container matColumnDef="controls">
                      <th mat-header-cell *matHeaderCellDef><b>Chức năng</b></th>
                      <td mat-cell *matCellDef="let element">
                          <button class="btn btn-info" mat-icon-button (click)="openDetailClassRoom(element)">
                              <mat-icon color="primary" >list_alt</mat-icon>
                          </button>
                          <button class="btn btn-info" mat-icon-button (click)="openEditClassRoom(element)">
                              <mat-icon >edit</mat-icon>
                          </button>
                          <button class="btn btn-info" mat-icon-button (click)="deleteClassRoom(element.id)">
                              <mat-icon color="warn">delete</mat-icon>
                          </button>
                      </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                  </tr>
              </table>
              <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"  (page)="getPaginatorData($event)">
              </mat-paginator>
          </mat-card-content>
      </mat-card>
  </div>
</section>
<!-- /.content -->

