<section class="content" style="margin-top: 1%">
    <div class="container-fluid">
        <mat-card>
            <mat-card-header class="card-container">
                <mat-card-title>Điểm</mat-card-title>
                <mat-card-subtitle>Điểm định kỳ</mat-card-subtitle>
            </mat-card-header>
            <div class="row">
                <div class="col-md-3">
                    <mat-form-field>
                        <mat-label>Tháng</mat-label>
                        <mat-select [(ngModel)]="monthSearch" required>
                            <mat-option *ngFor="let month of months" value="{{month}}">
                                {{month}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field>
                        <mat-label>Năm</mat-label>
                        <mat-select [(ngModel)]="yearSearch">
                            <mat-option *ngFor="let year of years" value="{{year}}">
                                {{year}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-5">
                </div>
                <div class="col-md-1">
                    <button mat-raised-button color="primary" tabindex="-1" style="float: right; margin-right: 20px"
                        (click)="searchLanguageClass()">
                        <mat-icon>search</mat-icon>
                        Tìm kiếm
                    </button>
                </div>
            </div>
        </mat-card>
        <div id="tieude">
            <label class="title">Bảng điểm lớp </label>
        </div>
        <mat-card style="margin-top: 0.5%">
            <mat-card-header style="float: right;">
                <mat-card-title>
                    <button mat-raised-button color="primary" tabindex="-1" (click)="CreatePoint()">
                        <mat-icon>add</mat-icon>
                        Tạo bảng điểm
                    </button>
                </mat-card-title>
            </mat-card-header>
            <mat-card-header style="float: left;">
                <mat-card-title>
                    <button class="chuyenThang" mat-raised-button color="primary" tabindex="-1"
                        (click)="forwardMonth()">
                        <mat-icon>keyboard_arrow_left</mat-icon>
                    </button>
                    <button class="chuyenThang" mat-raised-button color="primary" tabindex="-1" (click)="nextMonth()">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                    </button>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="example-container mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource">
                        <!-- STT -->
                        <ng-container matColumnDef="index" sticky>
                            <th mat-header-cell *matHeaderCellDef> No.</th>
                            <td mat-cell *matCellDef="let element; let i=index"> {{i+1}} </td>
                        </ng-container>
                        <!-- Name Column -->
                        <ng-container matColumnDef="personnelName" sticky>
                            <th mat-header-cell *matHeaderCellDef> Họ và tên </th>
                            <td mat-cell *matCellDef="let element"> {{element.personnelName}}</td>
                        </ng-container>

                        <!-- Năm sinh -->
                        <ng-container matColumnDef="personnelName" sticky>
                            <th mat-header-cell *matHeaderCellDef> Họ và tên </th>
                            <td mat-cell *matCellDef="let element"> {{element.personnelName}}</td>
                        </ng-container>

                        <!-- Giới tính -->
                        <ng-container matColumnDef="personnelName" sticky>
                            <th mat-header-cell *matHeaderCellDef> Họ và tên </th>
                            <td mat-cell *matCellDef="let element"> {{element.personnelName}}</td>
                        </ng-container>

                        <!-- Điểm -->
                        <ng-container matColumnDef="day_1">
                            <th mat-header-cell *matHeaderCellDef> {{ dateOfweek[0] }}<br> 1 </th>
                            <td mat-cell *matCellDef="let element">
                                <select matNativeControl required [(ngModel)]="element.day_1"
                                    (change)="onChange(element)">
                                    <option value="1">1 </option>
                                    <option value="0.5"> 0.5 </option>
                                    <option value="0">0 </option>
                                </select>
                            </td>
                        </ng-container>

                        <!-- Điểm TB -->
                        <ng-container matColumnDef="personnelName" sticky>
                            <th mat-header-cell *matHeaderCellDef> Họ và tên </th>
                            <td mat-cell *matCellDef="let element"> {{element.personnelName}}</td>
                        </ng-container>

                        <!-- Sắp xếp tt -->
                        <ng-container matColumnDef="personnelName" sticky>
                            <th mat-header-cell *matHeaderCellDef> Họ và tên </th>
                            <td mat-cell *matCellDef="let element"> {{element.personnelName}}</td>
                        </ng-container>

                        <!-- Sắp xếp tt tổng -->
                        <ng-container matColumnDef="personnelName" sticky>
                            <th mat-header-cell *matHeaderCellDef> Họ và tên </th>
                            <td mat-cell *matCellDef="let element"> {{element.personnelName}}</td>
                        </ng-container>

                        <!-- Ghi chú -->
                        <ng-container matColumnDef="personnelName" sticky>
                            <th mat-header-cell *matHeaderCellDef> Ghi chú </th>
                            <td mat-cell *matCellDef="let element"> {{element.note}}</td>
                        </ng-container>


                        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</section>