<mat-progress-bar mode="indeterminate" *ngIf="showProgressBar"></mat-progress-bar>

<section class="content" style="margin-top: 1%">
    <div class="container-fluid">
        <mat-card>
            <mat-card-header class="card-container">
                <mat-card-title>Xếp lớp</mat-card-title>
                <mat-card-subtitle>Quá trình học tập</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
        <div class="row">
            <div class="col-md-6">
                <mat-card>
                    <mat-card-header class="card-container">
                        <mat-card-title>Danh sách học viên</mat-card-title>
                    </mat-card-header>

                    <div class="col-md-9">
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input type="text" placeholder="Chọn học viên" matInput [formControl]="myControl"
                                    [matAutocomplete]="auto">
                                <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option *ngFor="let item of learnerOutClass" [value]="item.id">
                                        {{item.firstName + " "+ item.lastName + " - " + item.id }}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                    </div>

                    <mat-card-content>
                        <table mat-table [dataSource]="dataSourceOutClass">

                            <ng-container matColumnDef="index">
                                <th mat-header-cell *matHeaderCellDef> STT</th>
                                <td mat-cell *matCellDef="let element; let i=index"> {{i+1}} </td>
                            </ng-container>

                            <ng-container matColumnDef="learnerId">
                                <th mat-header-cell *matHeaderCellDef> Mã HV</th>
                                <td mat-cell *matCellDef="let element"> {{element.id}}</td>
                            </ng-container>

                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef> Họ tên </th>
                                <td mat-cell *matCellDef="let element"> {{element.firstName + " " + element.lastName}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="sex">
                                <th mat-header-cell *matHeaderCellDef> Giới tính</th>
                                <td mat-cell *matCellDef="let element"> {{(element.sex == true)?"Nam":"Nữ"}}</td>
                            </ng-container>

                            <ng-container matColumnDef="birthday">
                                <th mat-header-cell *matHeaderCellDef> Năm sinh</th>
                                <td mat-cell *matCellDef="let element"> {{element.birthday}}</td>
                            </ng-container>

                            <ng-container matColumnDef="controls">
                                <th mat-header-cell *matHeaderCellDef> Chức năng </th>
                                <td mat-cell *matCellDef="let element">
                                    <button mat-icon-button (click)="createStudyProcess(element.id)">
                                        <mat-icon>add</mat-icon>
                                    </button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumnsOutClass"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsOutClass;">
                            </tr>
                        </table>
                        <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                            (page)="getPaginatorData($event)" showFirstLastButtons>
                        </mat-paginator>
                    </mat-card-content>
                </mat-card>
            </div>

            <div class="col-md-1">
                
            </div>


            <div class="col-md-5">
                <mat-card>
                    <mat-card-header class="card-container">
                        <mat-card-title>Thông tin lớp học</mat-card-title>
                    </mat-card-header>

                    <div>
                        <mat-label>Tên lớp : </mat-label>
                    </div>
                    <div>
                        <mat-label>Khóa học : </mat-label>
                    </div>
                    <div>
                        <mat-label>Sĩ số : </mat-label>
                    </div>
                    <div>
                        <mat-label>Trạng thái : </mat-label>
                    </div>

                    <mat-card-header class="card-container">
                        <mat-card-title>Danh sách lớp</mat-card-title>
                    </mat-card-header>

                    <mat-card-content>
                        <table mat-table [dataSource]="dataSourceInClass">

                            <ng-container matColumnDef="index">
                                <th mat-header-cell *matHeaderCellDef> STT</th>
                                <td mat-cell *matCellDef="let element; let i=index"> {{i+1}} </td>
                            </ng-container>

                            <ng-container matColumnDef="learnerId">
                                <th mat-header-cell *matHeaderCellDef> Mã HV</th>
                                <td mat-cell *matCellDef="let element"> {{element.id}}</td>
                            </ng-container>

                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef> Họ tên </th>
                                <td mat-cell *matCellDef="let element"> {{element.firstName + " " + element.lastName}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="sex">
                                <th mat-header-cell *matHeaderCellDef> Giới tính</th>
                                <td mat-cell *matCellDef="let element"> {{(element.sex == true)?"Nam":"Nữ"}}</td>
                            </ng-container>

                            <ng-container matColumnDef="birthday">
                                <th mat-header-cell *matHeaderCellDef> Năm sinh</th>
                                <td mat-cell *matCellDef="let element"> {{element.birthday}}</td>
                            </ng-container>

                            <ng-container matColumnDef="controls">
                                <th mat-header-cell *matHeaderCellDef> Xóa </th>
                                <td mat-cell *matCellDef="let element">
                                    <button mat-icon-button>
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumnsInClass"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsInClass;">
                            </tr>
                        </table>
                        <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                            (page)="getPaginatorData($event)" showFirstLastButtons>
                        </mat-paginator>
                    </mat-card-content>
                </mat-card>
            </div>



        </div>

    </div>
</section>